<h1>Add a new number</h1>
<form action="/home/add_process" method="post">
  <table>
    <tr>
      <td><label>Name</label></td>
      <td><input type="text" name="name"></td>
    </tr>
    <tr>
      <td><label>Phone number</label></td>
      <td><input type='text' name='phone_number'></td>
    </tr>
  </table>
  <input type='submit' value='add'>
</form>
