<h1>List of phone numbers</h1>
<% @numbers.each do |number| %>
  <p><strong><<%= number.name %></strong> <%= number.phone_number %></p>
<% end %>
<br>
<a href='/home/add' style='text-decoration: none;'>Add a new number</a>
